body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
}
.encabezado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  justify-content: space-between;
  z-index: 1000;
}
.header-contet{
  display: flex;
  align-items: center;
  gap: 20px;
}

#foto_perfil {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
#nombre {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}
.titulo{
  color: #bbb;
  font-size: 1.3rem;
  margin: 0;
}
nav.navbar {
  transition: all 0.5s ease;
  margin-left: auto;
  margin-top: -20px;
}
.navbar-nav .nav-link:hover {
  color: #00aaff !important;
}
section {
  min-height: 50vh;
  padding: 60px 20px;
}
#formacion { background-color: #2c2f3a; }
#certificaciones { background-color: #1f2833; }
#contacto { background-color: #2c2f3a; }
html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

@media (max-width: 768px) {
  .encabezado {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
  } 
  html {
   scroll-padding-top: 80px; 
  }
  .navbar-collapse {
    margin-top: 80px; 
  }
  .titulo {
     display: none;
  }
  #sobre-mi .container {
    flex-direction: column;
  }
  #sobre-mi .info, #sobre-mi .acordeones {
    width: 100%;
  }
}
#info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
main {
  padding-top: 100px;
}
#sobre-mi {
  padding: 50px 20 px;
  background-color: #2c2f3a; 
  padding-top: 200px; 
  margin-top: 50px;
}
#sobre-mi .container{
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sobre-mi .info {
  flex: 1;
  min-width: 200px;
  color: white;
}
#sobre-mi .info h2{
  margin-bottom: 15px;
  font-size: 1.8 rem;
}
#sobre-mi .acordeones{
  flex: 1;
  min-width: 280px;
  flex-direction: column;
  margin: 5%;
}
details {
  background: #180347;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
  margin-top: 45px;
}
details:hover {
  background: #311968;
}
summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
summary .icon::before{
  content: "+";
  font-size: 18px;
  font-weight: bold;
}
details[open] summary .icon::before {
  content: "-";
}
details ul {
  margin-top: 10px;
  padding-left: 20px;
}
#experiencia { background-color: #1f2833; }
.logo-historia {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00aaff;
    padding: 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.logo-historia:hover {
    transform: scale(1.1);
}
.swiper-slide p {
    margin-top: 8px;
    font-size: 0.9 rem;
    color: #fff;
}
.detalle {
    margin-top: 30px;
    background: #1f2833;
    padding: 20px;
    border-radius: 15px;
}
.swiper-ágination-progressbar{
    background: rgba(255, 255,255, 0.2);
    .swiper-pagination-progressbar-fill {
        background: #00aaff;
    }
}
.historia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
    border-radius: 15px;
    overflow: hidden;
    max-width: 320px; 
    height: 500px;
    position: relative;
    z-index: 1;
}
.historia-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    background: rgba(37, 37, 37, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.logo-historia{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px;
}
.empresa {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
}
.historia-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.historia-body img {
    width: 400px;
    height: 600px;
    object-fit: cover;
}
.historia-footer {
    text-align: center;
    padding: 12px;
    background: rgba(37, 37, 37, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.historia-footer h4 {
    font-size: 1rem;
    color: #fff;
    margin: 5px 0;
}
.historia-footer p {
    font-size: 0.85rem;
    color: #fff;
    margin: 0;
}
.detalle-experiencia{
    display: none;
    padding: 20px;
    background: #1f2833;
    border-radius: 12px;
    margin-top: 20px;
    z-index: 500;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}
.detalle-experiencia.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.detalle-header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-grande {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #00aaff;
}
.collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-top: 15px;
}
.collage img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

#historias-container{
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

#historias-container.hidden{
    opacity: 0;
    pointer-events: none;
}